<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.ntnu.prisonesc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/prisoner_5_face_wings"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShopActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>